{
  "presets": [
    ["@babel/env",{
      "loose": true,
      "targets": {
        "chrome": "90"
      }
    }],
    "@babel/typescript"
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/proposal-object-rest-spread"
  ]
}
